.container-input-name {
    display: flex;
    justify-content: left;
    margin: 6px 0;
}

.container-input {
    width: 100%;
    margin-bottom: 12px;
    max-width: 474px;
}

.first-input {
    width: 100%;
    padding: 13px;
    border: 2px solid #B3B3B3;
    border-radius: 4px;
    box-sizing: border-box;
}